/* src/components/ConversionCalculator.css */
.containerbox {
    display: flex;
}

.sidenav {
    width: 25%;
    background: #b2c988;
    padding: 1%;
    box-sizing: border-box;
    border: 1px solid;
    display: flex;
    flex-direction: column;
}

.sidenav ul {
    list-style: none;
    padding: 0;
}

.sidenav li {
    margin: 0%;
    cursor: pointer;
}

.Page {
    width: 75%;
    padding: 1%;
    box-sizing: border-box;
    border: 1px solid;
}
